<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <facilities>
    <facility id="ibatis" type="Castle.Facilities.IBatisNetIntegration.IBatisNetFacility, Castle.Facilities.IBatisNetIntegration" >
      <sqlMap id="sqlServerSqlMap" config="Config/SqlMap.config" />
    </facility>
    <facility id="transaction" type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />
  </facilities>
</configuration>