<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="TabBalanceLogic" service="MISLogic.Interface.ITabBalanceLogic, MISLogic" type="MISLogic.Implement.TabBalanceLogic, MISLogic" />
		<component id="TabBuildCompanyLogic" service="MISLogic.Interface.ITabBuildCompanyLogic, MISLogic" type="MISLogic.Implement.TabBuildCompanyLogic, MISLogic" />
		<component id="TabBusinessModeLogic" service="MISLogic.Interface.ITabBusinessModeLogic, MISLogic" type="MISLogic.Implement.TabBusinessModeLogic, MISLogic" />
		<component id="TabCostAndReimburseLogic" service="MISLogic.Interface.ITabCostAndReimburseLogic, MISLogic" type="MISLogic.Implement.TabCostAndReimburseLogic, MISLogic" />
		<component id="TabCustomerLogic" service="MISLogic.Interface.ITabCustomerLogic, MISLogic" type="MISLogic.Implement.TabCustomerLogic, MISLogic" />
		<component id="TabDealLogic" service="MISLogic.Interface.ITabDealLogic, MISLogic" type="MISLogic.Implement.TabDealLogic, MISLogic" />
		<component id="TabImageLogic" service="MISLogic.Interface.ITabImageLogic, MISLogic" type="MISLogic.Implement.TabImageLogic, MISLogic" />
		<component id="TabLoanRepayLogic" service="MISLogic.Interface.ITabLoanRepayLogic, MISLogic" type="MISLogic.Implement.TabLoanRepayLogic, MISLogic" />
		<component id="TabMaterialLogic" service="MISLogic.Interface.ITabMaterialLogic, MISLogic" type="MISLogic.Implement.TabMaterialLogic, MISLogic" />
		<component id="TabMaterialFlowLogic" service="MISLogic.Interface.ITabMaterialFlowLogic, MISLogic" type="MISLogic.Implement.TabMaterialFlowLogic, MISLogic" />
		<component id="TabMoneyPoolLogic" service="MISLogic.Interface.ITabMoneyPoolLogic, MISLogic" type="MISLogic.Implement.TabMoneyPoolLogic, MISLogic" />
		<component id="TabPaymentLogic" service="MISLogic.Interface.ITabPaymentLogic, MISLogic" type="MISLogic.Implement.TabPaymentLogic, MISLogic" />
		<component id="TabProjectCategoryLogic" service="MISLogic.Interface.ITabProjectCategoryLogic, MISLogic" type="MISLogic.Implement.TabProjectCategoryLogic, MISLogic" />
		<component id="TabProjectInfoLogic" service="MISLogic.Interface.ITabProjectInfoLogic, MISLogic" type="MISLogic.Implement.TabProjectInfoLogic, MISLogic" />
		<component id="TabProjectStateLogic" service="MISLogic.Interface.ITabProjectStateLogic, MISLogic" type="MISLogic.Implement.TabProjectStateLogic, MISLogic" />
		<component id="TabStateRecordLogic" service="MISLogic.Interface.ITabStateRecordLogic, MISLogic" type="MISLogic.Implement.TabStateRecordLogic, MISLogic" />
		<component id="TabStorageLogic" service="MISLogic.Interface.ITabStorageLogic, MISLogic" type="MISLogic.Implement.TabStorageLogic, MISLogic" />
		<component id="TabSubContractorLogic" service="MISLogic.Interface.ITabSubContractorLogic, MISLogic" type="MISLogic.Implement.TabSubContractorLogic, MISLogic" />
		<component id="TabSubProjectInfoLogic" service="MISLogic.Interface.ITabSubProjectInfoLogic, MISLogic" type="MISLogic.Implement.TabSubProjectInfoLogic, MISLogic" />
		<component id="TabUsersLogic" service="MISLogic.Interface.ITabUsersLogic, MISLogic" type="MISLogic.Implement.TabUsersLogic, MISLogic" />

  </components>
</configuration>