<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MISClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MISClient.Properties.Settings>
            <setting name="MISClient_Service_NewProject_Service_NewProject"
                serializeAs="String">
                <value>http://localhost:48841/Service/NewProject/Service_NewProject.asmx</value>
            </setting>
            <setting name="MISClient_ProjectManagement_Service_ProjectManagement"
                serializeAs="String">
                <value>http://localhost:48841/Service/ProjectManagement/Service_ProjectManagement.asmx</value>
            </setting>
            <setting name="MISClient_Service_FinanceManagement_Service_FinanceManagement"
                serializeAs="String">
                <value>http://localhost:48841/Service/FinanceManagement/Service_FinanceManagement.asmx</value>
            </setting>
            <setting name="MISClient_Service_SystemManagement_Service_SystemManagement"
                serializeAs="String">
                <value>http://localhost:48841/Service/SystemManagement/Service_SystemManagement.asmx</value>
            </setting>
        </MISClient.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>