<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="Config/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer4.0"/>
    <dataSource name="MISDB" connectionString="Server=PC-YANG\SQLSERVER;Initial Catalog=MISDB;User ID=sa;Password=123456;"/>
  </database>

  <sqlMaps>
  <!--  <sqlMap embedded="MISWebService.MyUser.xml, MISEntity" /> -->
    <!--<sqlMap resource="XML/MyUser.xml" />-->
    <sqlMap embedded="MISWebService.XML.TabBalance.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabBuildCompany.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabBusinessMode.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabCostAndReimburse.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabCustomer.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabDeal.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabLoanRepay.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabMaterial.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabPayment.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabProjectCategory.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabProjectInfo.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabProjectState.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabStorage.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabSubContractor.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabSubProjectInfo.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabUsers.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabStateRecord.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabMaterialFlow.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabImage.xml,MISWebService" />
    <sqlMap embedded="MISWebService.XML.TabMoneyPool.xml,MISWebService" />
  </sqlMaps>
</sqlMapConfig>