<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="MyUserLogic" service="MISLogic.Interface.IMyUserLogic, MISLogic" type="MISLogic.MyUserLogic, MISLogic" />
		<component id="SysdiagramsLogic" service="MISLogic.Interface.ISysdiagramsLogic, MISLogic" type="MISLogic.SysdiagramsLogic, MISLogic" />
		<component id="TabBalanceLogic" service="MISLogic.Interface.ITabBalanceLogic, MISLogic" type="MISLogic.TabBalanceLogic, MISLogic" />
		<component id="TabBuildCompanyLogic" service="MISLogic.Interface.ITabBuildCompanyLogic, MISLogic" type="MISLogic.TabBuildCompanyLogic, MISLogic" />
		<component id="TabBusinessModeLogic" service="MISLogic.Interface.ITabBusinessModeLogic, MISLogic" type="MISLogic.TabBusinessModeLogic, MISLogic" />
		<component id="TabCostAndReimburseLogic" service="MISLogic.Interface.ITabCostAndReimburseLogic, MISLogic" type="MISLogic.TabCostAndReimburseLogic, MISLogic" />
		<component id="TabCustomerLogic" service="MISLogic.Interface.ITabCustomerLogic, MISLogic" type="MISLogic.TabCustomerLogic, MISLogic" />
		<component id="TabDealLogic" service="MISLogic.Interface.ITabDealLogic, MISLogic" type="MISLogic.TabDealLogic, MISLogic" />
		<component id="TabLoanRepayLogic" service="MISLogic.Interface.ITabLoanRepayLogic, MISLogic" type="MISLogic.TabLoanRepayLogic, MISLogic" />
		<component id="TabMaterialLogic" service="MISLogic.Interface.ITabMaterialLogic, MISLogic" type="MISLogic.TabMaterialLogic, MISLogic" />
		<component id="TabPaymentLogic" service="MISLogic.Interface.ITabPaymentLogic, MISLogic" type="MISLogic.TabPaymentLogic, MISLogic" />
		<component id="TabProjectCategoryLogic" service="MISLogic.Interface.ITabProjectCategoryLogic, MISLogic" type="MISLogic.TabProjectCategoryLogic, MISLogic" />
		<component id="TabProjectInfoLogic" service="MISLogic.Interface.ITabProjectInfoLogic, MISLogic" type="MISLogic.TabProjectInfoLogic, MISLogic" />
		<component id="TabProjectStateLogic" service="MISLogic.Interface.ITabProjectStateLogic, MISLogic" type="MISLogic.TabProjectStateLogic, MISLogic" />
		<component id="TabStorageLogic" service="MISLogic.Interface.ITabStorageLogic, MISLogic" type="MISLogic.TabStorageLogic, MISLogic" />
		<component id="TabSubContractorLogic" service="MISLogic.Interface.ITabSubContractorLogic, MISLogic" type="MISLogic.TabSubContractorLogic, MISLogic" />
		<component id="TabSubProjectInfoLogic" service="MISLogic.Interface.ITabSubProjectInfoLogic, MISLogic" type="MISLogic.TabSubProjectInfoLogic, MISLogic" />
		<component id="TabTestUsersLogic" service="MISLogic.Interface.ITabTestUsersLogic, MISLogic" type="MISLogic.TabTestUsersLogic, MISLogic" />
		<component id="TabUsersLogic" service="MISLogic.Interface.ITabUsersLogic, MISLogic" type="MISLogic.TabUsersLogic, MISLogic" />

  </components>
</configuration>