<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<!-- Database -->

		<!-- SQL Server settings -->
		<connectionString>Data Source=20081218-1743\SQLEXPRESS;Initial Catalog=GREE;Integrated Security=True;</connectionString>
		<nhibernateDriver>NHibernate.Driver.SqlClientDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MsSql2005Dialect</nhibernateDialect>

		<!--			
		PostgreSQL settings
			  
		<connectionString>Server=localhost;Port=5432;Database=cuyahoga;uid=;pwd=</connectionString>
		<nhibernateDriver>NHibernate.Driver.NpgsqlDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.PostgreSQLDialect</nhibernateDialect>
			  
		MySQL settings
			  
		<connectionString>server=localhost;database=cuyahoga;uid=;pwd=;</connectionString>
		<nhibernateDriver>NHibernate.Driver.MySqlDataDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MySQLDialect</nhibernateDialect>
		-->
	</properties>
</configuration>
