<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="Config/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer1.1"/>
    <dataSource name="GWEE" connectionString="Data Source=PC-YANG\SQLSERVER;Initial Catalog=MISDB;Integrated Security=FALSE;User ID=sa;Password=123456;" />
  </database>
  <sqlMaps>
    <sqlMap embedded="MISEntity.Maps.MyUser.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.Sysdiagrams.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabBalance.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabBuildCompany.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabBusinessMode.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabCostAndReimburse.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabCustomer.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabDeal.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabLoanRepay.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabMaterial.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabPayment.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabProjectCategory.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabProjectInfo.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabProjectState.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabStorage.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabSubContractor.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabSubProjectInfo.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabTestUsers.xml,MISEntity" />
		<sqlMap embedded="MISEntity.Maps.TabUsers.xml,MISEntity" />

  </sqlMaps>

</sqlMapConfig>