<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--<add key="connectionStrings"
             value="Data Source=.\sqlexpress;Initial Catalog=test;Integrated Security=True;timeout=600;" />-->
        <add key="connectionStrings"
             value="Data Source=192.168.100.16;Initial Catalog=Jxkh_Code;UID=sa;PWD=123456;timeout=600;"/>
        <add key="ini"
             value="setup.ini" />
    </appSettings>
</configuration>